{% extends "mmda/base.html" %}

{% load static %}

{% block title %}Data Aggregates{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Data Aggregates</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Insert New File
                </div>
                <form action="{% url 'mmda:insert_file' %}" method="post">
                    {% csrf_token %}
                    <div class="panel-body">
                        <div class="form-group">
                            <label>File Path</label>
                            <input type="text" name="file_path" class="form-control" placeholder="Enter path to file here">
                        </div>
                        <div class="form-group">
                            <label>Parent DAGR</label>
                            <script>
                                function changeParent1DAGR() {
                                    select = document.getElementById("parent1_dagr_select");
                                    guid = select.options[select.selectedIndex].getAttribute('data-guid');
                                    target = document.getElementById("parent1_dagr_target");
                                    target.value = guid;
                                }
                            </script>
                            <select onchange="changeParent1DAGR()" id="parent1_dagr_select" class="form-control">
                                <option value=""></option>
                                {% for dagr in dagrs_list %}
                                    <option value="{{ dagr.dagr_name }}" data-guid="{{ dagr.dagr_guid }}">{{ dagr.dagr_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input type="text" name="parent_dagr_guid" class="form-control" placeholder="Enter parent DAGR GUID here" id="parent1_dagr_target">
                    </div>
                    <div class="panel-footer">
                        <input type="submit" value="Create New DAGR" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-green">
                <div class="panel-heading">
                    Bulk Data Insert
                </div>
                <form action="{% url 'mmda:bulk_data_insert' %}" method="post">
                    {% csrf_token %}
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Folder Path</label>
                            <input type="text" name="folder_path" class="form-control" placeholder="Enter path to folder here">
                        </div>
                        <div class="form-group">
                            <label>Parent DAGR</label>
                            <script>
                                function changeParent2DAGR() {
                                    select = document.getElementById("parent2_dagr_select");
                                    guid = select.options[select.selectedIndex].getAttribute('data-guid');
                                    target = document.getElementById("parent2_dagr_target");
                                    target.value = guid;
                                }
                            </script>
                            <select onchange="changeParent2DAGR()" id="parent2_dagr_select" class="form-control">
                                <option value=""></option>
                                {% for dagr in dagrs_list %}
                                    <option value="{{ dagr.dagr_name }}" data-guid="{{ dagr.dagr_guid }}">{{ dagr.dagr_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input type="text" name="parent_dagr_guid" class="form-control" placeholder="Enter parent DAGR GUID here" id="parent2_dagr_target">
                    </div>
                    <div class="panel-footer">
                        <input type="submit" value="Create New DAGR" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table width="100%" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>GUID</th>
                            <th>Name</th>
                            <th>Time Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dagr in dagrs_list %}
                            <tr>
                                <td style="width:1px; white-space:nowrap">
                                    <a href="{% url 'mmda:dagr_page' dagr.dagr_guid %}">
                                        <button type="button" class="btn btn-info">View</button>
                                    </a>
                                </td>
                                <td style="vertical-align:middle">{{ dagr.dagr_guid }}</td>
                                <td style="vertical-align:middle">{{ dagr.dagr_name }}</td>
                                <td style="vertical-align:middle">{{ dagr.time_created }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <!-- DataTables JavaScript -->
    <script src="{% static 'mmda/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'mmda/vendor/datatables-plugins/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'mmda/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function() {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
    </script>
{% endblock scripts %}