<h1>Insert File</h1>
<form action="{% url 'mmda:insert_file' %}" method="post">
    {% csrf_token %}
    <input type="text" id="file_path" name="file_path" />
    <input type="submit" value="Create New DAGR" />
</form>

<h1>Bulk Data Entry</h1>
<form action="{% url 'mmda:bulk_data_insert' %}" method="post">
    {% csrf_token %}
    <input type="text" id="folder_path" name="folder_path" />
    <input type="submit" value="Create New DAGR" />
</form>

<h1>Create Category</h1>
<form action="{% url 'mmda:create_category' %}" method="post">
    {% csrf_token %}
    <input type="text" id="category_name" name="category_name" />
    <input type="submit" value="Create New Category" />
</form>

{% if data_aggregates_list %}
    <ul>
    {% for dagr in data_aggregates_list %}
        <li>{{ dagr.name }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No data aggregates are available.</p>
{% endif %}